<header>
<div class="blog-name"><a href="/">Julia User Group at Gipsa</a></div>
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/sessions/">Sessions</a></li>
    <!-- <li><a href="/menu2/">More goodies</a></li>
         <li><a href="/menu3/">Tags</a></li> -->
  </ul>
  <img src="/assets/hamburger.svg" id="menu-icon">
</nav>
</header>
